nav ul {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	width: 1174px;
	margin: auto;
}

li {
	padding: 12px;
	position: relative;
  overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
}

nav li:first-child:before {
	height: 0;
}

nav li:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: all .3s ease;
	background-color: #03366f;
}

nav li:hover:before {
	width: 100%;
}

nav li a img {
	width: 150px;
}

.logo {
	margin-right: auto;
}

.account {
	margin-left: auto;
}

#modelX {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D);
}

section {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	padding: 12px;
	right: 0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#modelY {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70);
}

#modelS {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D);
}

#model3 {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop);
}

#solarPanel {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D);
}

#solarRoof {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D);
}

#accessories {
	background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parent {
	text-align: center;
}

.mt-auto {
	/*margin-top: 380px;*/
}

.btn-btn-primary {
	background-color: #03366f;
	padding: 13px 55px;
	margin: 8px;
	border-radius: 50px;
	color: white;
}

li:last-child:before {
  height: 0;
}

nav li:last-child a {
  padding: 13px 25px!important;
  margin: 0 15px!important;
}

.white {
	background-color: rgba(244, 244, 244, 0.65)!important;
	color: black!important;
}

a, body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 45px;
}

.under {
	border-bottom: 2px solid #03366f;
}

.bottom {
	position: absolute;
	bottom: 30px;
	left: 50%;
	height: 15px;
	width: 15px;
	transform: rotate(45deg);

	border-right: 4px solid #03366f;
	border-bottom: 4px solid #03366f;

	animation: tepapast 3s infinite; 
}

@keyframes tepapast {
	0% {
		transform: translateY(0) rotate(45deg);
	}

	50% {
		transform: translateY(10px) rotate(45deg);
	}

	100% {
		transform: translateY(0) rotate(45deg);
	}
}

.parent ul {
	display: flex;
	justify-content: center;
	list-style: none;
	align-items: center;
}

#footer {
	position: relative;
	height: 100vh;
}

#footer .parent.hot-link {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

@media screen and (max-width: 1024px) {
	nav ul li:first-child, nav ul li:last-child {
		display: block;
	}

	nav ul li {
		display: none;
	}	

	.mt-auto {
		/*margin-top: 250px;*/
	}

	.hot-link ul li:first-child {
		display: block
	}

	.hot-link ul li {
		display: none;
	}

	.mt-auto a {
		padding: 13px 35px;
    	font-size: 12px;
	}
}

.image-wrapper {
	width: 350px;
	margin: auto;
}

img {
	width: 100%;
}

:root {
    --panel-width: calc(100% / 6);
    --darkblue: #03366f;
    --white: #fff;
    --black: #000;
    --lightgray: #fafafb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*h1 {
    font-size: 3rem;
}*/

body {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    overflow: hidden;
}

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    position: fixed;
    top: 30px;
    right: 50px;
    z-index: 99999;
}

.page-header ul {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.page-header ul a {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid transparent;
}

.page-header .active a {
    border-color: var(--white);
}

.panels {
    position: fixed;
    top: 0;
    left: 50%;
    width: 180vw;
    height: 100%;
    transform: translateX(-50%) skewX(-35deg);
    clip-path: circle(100%);
    z-index: 999999;
    background: var(--lightgray);
}

.panels .panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--panel-width);
    transform: scaleY(0);
    transform-origin: top;
    background: var(--darkblue);
}

.panels .panel:nth-child(even) {
    transform-origin: bottom;
}

.panels .panel:nth-child(2) {
    left: calc(var(--panel-width) - 1px);
}

.panels .panel:nth-child(3) {
    left: calc(calc(var(--panel-width) * 2) - 2px);
}

.panels .panel:nth-child(4) {
    left: calc(calc(var(--panel-width) * 3) - 4px);
}

.panels .panel:nth-child(5) {
    left: calc(calc(var(--panel-width) * 4) - 5px);
}

.panels .panel:nth-child(6) {
    left: calc(calc(var(--panel-width) * 5) - 6px);
}

.page-main {
    display: flex;
    height: 100%;
/*    padding: 100px 15px;
*/    clip-path: circle(20%);
    overflow-y: auto;
/*    background: var(--darkblue);
*/}

.page-main > div {
    text-align: center;
    margin: auto;
}

@media (max-width: 1024px) {
    .panels {
        width: 200vw;
    }
}

@media screen and (max-width: 600px) {
    .panels {
        width: 235vw;
    }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
}

.page-footer a {
    margin-left: 4px;
}


@media screen and (max-width: 768px) {
	h1 {
		font-size: 24px;
	}
  p {
    font-size: 12px;
  }
} 




/* Sidebar */
.wrapper {
	position: absolute;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 990px) {
	.wrapper {
		display: block;
	}

	nav {
		display: none;
	}
}

.burger-menu {
  	position: relative;
    height: 30px;
    margin: 20px auto 0 -70px;
    color: #60635E;
    text-transform: uppercase;
    z-index: 199;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.burger-menu a {
	width: 150px;
}

.burger-click-region {
  position: absolute;
  left: 100px;
  width: 40px;
  cursor: pointer;
}

.burger-menu-piece {
  display: block;
  position: relative;
  width: 40px;
  border-top: 6px solid #60635E;
  transform-origin: 50% 50%;
  margin-top: 5px;
}

.sidebar {
  background: white;
  margin-top: -60px;
  margin-left: -550px;
  height: 100%;
  position: fixed;
  z-index: 99;
}


.sidebar li {
  font-family: sans-serif;
  list-style-type: none;
  font-size: 3.7vw;
  margin-bottom: 20px;
  text-align:left;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  min-width: 100%;
}

.sidemenu {
  margin: 90px 97px 0 97px;
}

.sidetext {
  opacity: 1;
  color: #66B3FF;
}
/* Sidebar */

/* Butotn Hover effect */
.order-service-btn {
	position: relative;
	overflow: hidden;
}

.order-service-btn:before {
	background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -180%, 0px);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -180%, 0px);
    -webkit-transition: -webkit-transform 0.6s ease 0s;
    transition: -webkit-transform 0.6s ease 0s;
    transition: transform 0.6s ease 0s;
    transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    width: 100%;
    z-index: 4;
}

.order-service-btn:hover:before {
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 180%, 0px);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 180%, 0px);
}
/* Butotn Hover effect */



/* Modal */
.buttons-ctn {
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  will-change: transform;
  display: inline-block;
  text-align: center;
  line-height: normal;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.button--active {
  border-radius: 0;
  cursor: default;
  padding: 65px 130px;
}
.button--active span {
  opacity: 0;
}
.button-modal {
  position: relative;
}
.button__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  color: white;
}
.button__content--left {
  color: white;
}
.button__content--left a {
  color: #141414;
  background: white;
}
.button__content--right {
  color: #141414;
}
.button__content--right a {
  color: white;
  background: #141414;
}
.button__content--active {
  opacity: 1;
  visibility: visible;
}
.button__content a {
  display: inline-block;
}
.button__content h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}
@media (max-width: 650px) {
  .button__content {
    width: 295px;
  }
}
/*Modal*/